PidFile=/var/run/zabbix/zabbix_agentd.pid
LogType=system
EnableRemoteCommands=0
LogRemoteCommands=1

{% if monitoring_zabbix_passive_enabled is defined and monitoring_zabbix_passive_enabled == true %}
# passive monitoring
# from zabbix-agent perspective: "polling"
Server={{ monitoring_zabbix_host }},::1
{% else %}
StartAgents=0
{% endif %}

{% if monitoring_zabbix_active_enabled is defined and monitoring_zabbix_active_enabled == true %}
# active monitoring
# from zabbix-agent perspective: "pushing"
ServerActive={{ monitoring_zabbix_host }}
{% endif %}

Hostname={{ inventory_hostname }}
HostMetadata=:osname={{ ansible_distribution }}:osversion={{ ansible_distribution_version }}:kernel={{ ansible_kernel }}:vendor={{ ansible_system_vendor }}:
# HostMetadataItem=system.uname

# encryption
# we allow to connect *agent-to-server* unencrypted (discovery)
TLSConnect=unencrypted
# *server-to-agent* must be encrypted
TLSAccept=unencrypted,psk
TLSPSKFile=/etc/zabbix/key.psk
TLSPSKIdentity=key

Include=/etc/zabbix/zabbix_agentd.d/


# 2766f689576b9894d771ec21d3aeebcdb8d2583efc891f32f17936dcaecb583b7fd85e72059b88112c5816dfefc23f0a7d66c2f8c24c31826df9976a0c8f6007
